<!-- <footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; YelpCamp 2022</span>
    </div>
</footer> -->
<footer class="footer mt-auto bg-dark text-center text-lg-start ">
    <!-- Copyright -->
    <div class="text-light text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-light" href="/">YelpCamp.com</a>
    </div>
    <!-- Copyright -->
</footer>