<% layout('layouts/boilerplate')%>

<h1>Register</h1>
<form action="/register" method="POST" class ="validated-Forms">
    <div class="mb-3">
        <label class="form-label">User Name</label>
        <input class="form-control" type="text" id="username" name="username" reuqired>
        <div class="valid-feedback">
            
        </div>
    </div>
</form>